/* Grid */

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.about-container {
	display: flex;
	flex-direction: column;
}

.row-direction {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.four-columns {
	width: 30.6666666667%;
}

.eight-columns {
	width: 65.3333333333%;
}

@media (max-width: 680px) {
	.row-direction {
		flex-direction: column;
	}
	.eight-columns,
	.four-columns {
		width: 100%;
	}
	.four-columns {
		text-align: center;
	}
}

/* For devices larger than 400px */
@media (min-width: 400px) {
	.container {
		width: 85%;
		padding: 0;
	}
}

/* For devices larger than 550px */
@media (min-width: 550px) {
	.container {
		width: 80%;
	}
}
