/*Navbar*/
.main_nav {
	position: fixed;
	top: 0px;
	max-height: 70px;
	z-index: 999;
	width: 100%;
	background: none;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0;
	top: -100px;
	padding-bottom: 10px;
}

.open-nav {
	max-height: 400px !important;
}

.sticky {
	background-color: #ffffff;
	opacity: 1;
	top: 0px;
}

nav {
	width: 100%;
}

nav ul {
	list-style: none;
	overflow: hidden;
	text-align: center;
}

nav ul li {
	display: inline-block;
	margin-left: 35px;
	line-height: 1.5;
	letter-spacing: 1px;
}

.link-animation {
	text-transform: uppercase;
	font-size: 15px;
	text-decoration: none;
}

.link-animation:hover {
	color: rgb(189, 188, 188);
}

.mobile-toggle {
	display: none;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	right: 22px;
	top: 0;
	width: 30px;
}

.mobile-toggle span {
	width: 30px;
	height: 4px;
	margin-bottom: 6px;
	background: -moz-linear-gradient(-45deg, #9880ef 0%, #5c3dd3 100%);
	background: -webkit-linear-gradient(-45deg, #9880ef 0%, #5c3dd3 100%);
	background: linear-gradient(135deg, #9880ef 0%, #5c3dd3 100%);
	display: block;
}

/* Links Animation */

.link-animation {
  position: relative;
  min-width: 75px;
  height: 60px;
  line-height: 75px;
  display: inline-block;
}

.link-animation:after {
  position: absolute;
  bottom: 0;
  height: 2px;
  left: 50%;
  right: 50%;
	background: -moz-linear-gradient(-45deg, #5c3dd3 0%, #e5a7f5 100%);
	background: -webkit-linear-gradient(-45deg, #5c3dd3 0%, #e5a7f5 100%);
	background: linear-gradient(135deg, #5c3dd3 0%, #e5a7f5 100%);
  content: '';
}
.link-animation:before,
.link-animation:after {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.link-animation:hover:after,
.link-animation:active:after,
.link-animation.hover:after {
  left: 0;
  right: 0;
}

/* Phone & Tablets */
@media only screen and (max-width: 766px) {
	.main_nav {
    padding-top: 25px;
    max-height: 40px;
  }
  nav {
		width: 100%;
  }
  nav ul {
		padding-top: 0px;
		margin-bottom: 22px;
		text-align: center;
		width: 100%;
  }
  nav ul li {
		width: 100%;
    margin: 0;
	}
	nav ul li:first-child {
		margin-top: 20px;
  }
  .mobile-toggle {
		display: block;
	}
}