body {
  text-align: center;
  font-family: 'Advent Pro', sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  line-height: 1.5;
}

h3 {
  font-weight: 700;
}

p {
  font-family: 'Niramit', sans-serif;
}

.main {
  margin-top: 20px;
}


@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


/* About Me */

.about {
  padding: 20px 50px 50px;
  height: 100vh;
}

.about .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-logo {
  height: 250px;
  border-radius: 10px;
  border: 5px solid #dbdbdb;
}

.about section {
  display: inline-block;
}

.image {
  width: 40%;
}

.info {
  width: 55%;
  text-align: justify;
  margin-right: 50px;
  font-size: 25px;
}

/* Skills */

.skills {
  text-align: center;
  height: 100%;
  background: rgba(211, 209, 209, 0.486);
  padding: 50px;
}

.icon-container {
  display: inline-block;
}

.icon-container i {
  font-size: 100px;
  padding: 20px;
  background: -moz-linear-gradient(320deg, #2c128b 30%, #9c21c2 60%, #ff2759 100%);
  background: -webkit-linear-gradient(320deg, #2c128b 30%, #9c21c2 60%, #ff2759 100%);
  background: linear-gradient(320deg, #2c128b 30%, #9c21c2 60%, #c22192 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Projects */

.projects {
  padding: 50px;
}

.projects .row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 0 !important;
}

.col {
  padding: 0 !important;
}

.projects .image {
  width: 100%;
}

.snip1527 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  float: left;
  font-size: 16px;
  max-width: 300px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  border-radius: 10px;
}

.snip1527 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1527 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}

.snip1527 figcaption {
  padding: 15px 20px 15px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
}

.snip1527 figcaption:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #700877;
  content: '';
  background: -moz-linear-gradient(90deg, #2c128b 30%, #9c21c2 100%, #ff2759 100%);
  background: -webkit-linear-gradient(90deg, #2c128b 30%, #9c21c2 100%, #ff2759 100%);
  background: linear-gradient(90deg, #2c128b 30%, #9c21c2 100%, #c22192 100%);
  opacity: 0.6;
  z-index: -1;
}

.snip1527 h4,
.snip1527 p {
  margin: 0;
  padding: 0;
}

.snip1527 h4 {
  display: inline-block;
  letter-spacing: -0.4px;
  margin-bottom: 5px;
}

.snip1527 p {
  font-size: 0.8em;
  line-height: 1.6em;
  margin-bottom: 0px;
}

.snip1527:hover img,
.snip1527.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.snip1527 a {
  background-color: #7008776c;
  margin-top: 5px;
}

.snip1527 a:hover,
.snip1527 a:active {
  background-color: #700877 !important;
}

/* Contact footer */

footer {
  height: 100%;
  width: 100%;
  background: black;
  color: white;
  padding: 20px;
}

footer span {
  font-weight: 700;
}

footer a {
  margin: 5px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .name-logo {
    width: 100%;
  }

  .about {
    padding: 0;
    padding-top: 5px;
  }

  .about .row {
    display: initial;
  }

  .image {
    width: 100%;
  }

  .mini-logo {
    height: 150px;
  }

  .info {
    width: 100%;
    font-size: 18px;
    padding: 20px;
  }

  .icon-container i {
    font-size: 50px;
  }

  .skills {
    padding: 50px;
  }

  .projects {
    padding: 0;
  }

  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .snip1527 {
    max-width: 25%;
  }
}

@media (min-width: 450px) and (max-width: 800px) {
  .col {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}