/* Base Styles */
html {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

body {
	margin: 0;
	font-size: 1.5em;
	line-height: 1.6;
	color: #f5f5f5;
	background-color: #2a2e4c;
	font-family: 'Montserrat', sans-serif;
}

/* Font Sizes */
h1,
h2,
h3 {
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 300;
}

h1 {
	font-family: 'Patrick Hand', cursive;
	font-size: 4.0rem;
	line-height: 1.2;
}

h2 {
	font-size: 3.6rem;
	line-height: 1.25;
	letter-spacing: -.1rem;
}

h3 {
	font-size: 3.0rem;
	line-height: 1.3;
	letter-spacing: -.1rem;
}

/* Tablet & Desktop only */
@media (min-width: 550px) {
	h1 {
		font-size: 5.5rem;
	}

	h2 {
		font-size: 4.2rem;
	}
}

p {
	margin-top: 0;
}

/* Links */
a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #e7e7e9;
	text-decoration: none;
}

/* Header */

header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e55d87', endColorstr='#5fc3e4', GradientType=1);
}

.title {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	padding: 5rem;
	text-align: initial;
	color: #FFFFFF;
	font-size: 40px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-top: 30px;
}

.title h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	letter-spacing: -.1rem;
}

.title h2 {
	font-size: 30px;
}

.title span {
	background-color: #b36e84;
	font-weight: 700;
	padding: 0 5px 0 3px;
}

.title p {
	max-width: 600px;
	margin: 0 auto;
	line-height: 150%;
}

@media only screen and (max-width: 500px) {
	.title {
		padding: 2rem;
	}

	.title h1 {
		font-size: 28px;
	}

	.title h2 {
		font-size: 23px;
	}
}


@media only screen and (min-width: 1300px) {
	.title {
		padding: 8rem;
	}

	.title h1 {
		font-size: 50px;
	}

	.title h2 {
		font-size: 40px;
	}
}

.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 5vh;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
	width: 20px;
	height: 20px;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	z-index: 9;
	-webkit-transform: translate(-50%, 0%) rotate(45deg);
	-moz-transform: translate(-50%, 0%) rotate(45deg);
	transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 2s ease-in-out infinite;
	-moz-animation: fade_move_down 2s ease-in-out infinite;
	animation: fade_move_down 2s ease-in-out infinite;
}

@media only screen and (min-width: 766px) {
	.scroll-down {
		bottom: 6vh;
		width: 25px;
		height: 25px;
	}
}

/* Arrow scroll Animation */
@-webkit-keyframes fade_move_down {
	0% {
		-webkit-transform: translate(0, -10px) rotate(45deg);
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		-webkit-transform: translate(0, 10px) rotate(45deg);
		opacity: 0;
	}
}

@-moz-keyframes fade_move_down {
	0% {
		-moz-transform: translate(0, -10px) rotate(45deg);
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		-moz-transform: translate(0, 10px) rotate(45deg);
		opacity: 0;
	}
}

@keyframes fade_move_down {
	0% {
		transform: translate(0, -10px) rotate(45deg);
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		transform: translate(0, 10px) rotate(45deg);
		opacity: 0;
	}
}

/* About Me */
#about,
#projects {
	padding-top: 100px;
}

#about span {
	background-color: #b36e84;
	font-weight: 700;
	padding: 2px 3px;
	color: #fff;
	text-decoration: none;
}

.picture-animation {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 310px;
	width: 100%;
	background-color: #000000;
	color: #ffffff;
	text-align: left;
	font-size: 16px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.picture-animation * {
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.picture-animation img {
	max-width: 100%;
	vertical-align: top;
}

.picture-animation:hover img,
.picture-animation.hover img {
	-webkit-transform: scale(1.3) rotate(5deg);
	transform: scale(1.3) rotate(5deg);
}

/* Gallery */

.gallery-container {
	margin-top: 50px;
}

.gallery-card {
	max-width: 20%;
	margin: 0;
}

.gallery-card img {
	width: 100%;
	-webkit-filter: grayscale(100%);
	/* Safari 6.0 - 9.0 */
	filter: grayscale(75%);
}

/*Projects Section*/

.project-card {
	margin-bottom: 40px;
}

figure.project-figure {
	font-family: 'Patrick Hand', cursive;
	position: relative;
	overflow: hidden;
	margin: 10px;
	min-width: 230px;
	max-width: 400px;
	width: 100%;
	color: #ffffff;
	text-align: left;
	font-size: 16px;
}

figure.project-figure * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

figure.project-figure img {
	max-width: 100%;
	vertical-align: top;
}

figure.project-figure figcaption {
	background-color: #b36e84;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

figure.project-figure h3 {
	text-align: center;
	font-size: 2em;
	padding: 10px;
	margin: 0;
	font-weight: 400;
	text-transform: uppercase;
}

figure.project-figure:before {
	background: #b36e84b5;
	content: "";
	left: 50%;
	right: 50%;
	bottom: 0;
	top: 0;
	position: absolute;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

figure.project-figure span {
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	width: 80%;
	font-size: 1.2em;
	left: 50%;
	top: 40%;
	-webkit-transform: translate(-50%, -50px);
	transform: translate(-50%, -50px);
	opacity: 0;
	text-align: center;
}

figure.project-figure a {
	background-color: #fff;
	color: #b36e84;
	margin-top: 5px;
	padding: 3px 5px;

}

figure.project-figure:hover:before,
figure.project-figure.hover:before {
	left: 0;
	right: 0;
}

figure.project-figure:hover span,
figure.project-figure.hover span {
	opacity: 1;
}

figure.project-figure:hover figcaption,
figure.project-figure.hover figcaption {
	background-color: #ffffff;
	color: #b36e84b5;
}

/* Contact Section
********************************************************************* */
#contact {
	padding: 100px 0;
	min-height: 75vh;
}

.contact-info {
	padding: 2rem 0;
}

.sn-links {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px auto;
}

.sn-links i {
	font-size: 5rem;
	padding: 1rem;
}

/* Misc
********************************************************************* */

.block {
	width: 100%;
	height: 2.5px;
	background: #9880ef;
	/* Old browsers */
	background: -moz-linear-gradient(-45deg, #e5a7f5 0%, #2a2e4c 100%);
	background: -webkit-linear-gradient(-45deg, #e5a7f5 0%, #2a2e4c 100%);
	background: linear-gradient(135deg, #e5a7f5 0%, #2a2e4c 100%);
	margin-bottom: 50px;
}

@media (max-width: 680px) {
	.gallery-container {
		display: none !important;
	}

	.contact-info {
		padding: 0;
	}

	.sn-links {
		flex-direction: row;
		margin: 0;
	}
}