body {
  text-align: center;
  font-family: 'Advent Pro', sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  line-height: 1.5;
}

h3 {
  font-weight: 700;
}

.main {
  margin-top: 20px;
}

aside {
	position: absolute;
	left: 10px;
}

/* Menu */

.full-menu {
  width: 100%;
  height: 100%;
	align-items: center;
  justify-content: center;
  position: absolute;
  background: -moz-linear-gradient(90deg, #0b0522f6 30%, #290933f6 100%, #350913f6 100%);
  background: -webkit-linear-gradient(90deg, #0b0522f6 30%, #290933f6 100%, #350913f6 100%);
  background: linear-gradient(90deg, #0b0522f6 30%, #290933f6 100%, #350913f6 100%);
  opacity: 0.5;
  transform: translateX(100%);
  transition: all 400ms ease-in;
}

.nav-btns {
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.5px;
  line-height: 1em;
  /* margin: 15px 40px; */
  text-transform: uppercase;
  z-index: 2;
}

.nav-btns ul {
  list-style: none;
}

.nav-btns li {
  list-style: outside none none;
  margin: 0.5em 0.6em;
  padding: 12px 15px;
  position: relative;
  float: unset;
}

.full-menu li {
  font-size: 4em;
  color: #fff;
  opacity: 0;
  transform: translateY(2%);
  transition: all 300ms ease-in;
  cursor: pointer;
}

.nav-btns li a {
  color: #fff;
  text-decoration: none;
  font-size: 3rem;
  padding: 20px;
}

.nav-btns li:before,
.nav-btns li:after {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  height: 2px;
  width: 35%;
  background-color: #a852b3;
  position: absolute;
  content: '';
  opacity: 0;
}

.nav-btns li:before {
  top: 0;
  left: 0;
}

.nav-btns li:after {
  bottom: 0;
  right: 0;
}

.nav-btns li:hover:before,
.nav-btns li.hover:before,
.nav-btns li:hover:after,
.nav-btns li.hover:after {
  opacity: 1;
}

.nav-btns li:hover:before,
.nav-btns li.hover:before {
  left: 65%;
}

.nav-btns li:hover:after,
.nav-btns li.hover:after {
  right: 65%;
}

.full-menu.active {
  display: flex;
  transform: translateX(0%);
  opacity: 1;
  z-index: 2;
}

.full-menu.active li {
  opacity: 1;
  transform: translateX(0%);
}

.full-menu.active li:hover {
  animation: zoom 200ms ease-in;
}

.hamburguer {
  position: fixed;
  right: 0;
  width: 2em;
  height: 2em;
  margin: 1em;
  z-index: 1000;
  cursor: pointer;
}

.hamburguer:hover {
  animation: zoom 300ms ease-in;
}

.lines {
  background-color: #fff;
  width: 100%;
  height: 5px;
  margin: 5px 0;
  transition: all 450ms ease-in;
}

.close-hamburguer .lines {
  cursor: pointer;
}

.close-hamburguer .line-top {
  transform: translateY(200%) rotate(45deg);
}

.close-hamburguer .line-mid {
  opacity: 0;
}

.close-hamburguer .line-bottom {
  transform: translateY(-200%) rotate(135deg);
}

@keyframes zoom {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

/* About Me */

.about {
  padding: 0 50px;
  height: 100vh;
}

.mini-logo {
  height: 250px;
  border-radius: 100%;
  border: 5px solid #dbdbdb;
}

.about section {
  display: inline-block;
}

.image {
  width: 40%;
}

.info {
  width: 55%;
  text-align: justify;
}

/* Skills */

.skills {
  text-align: center;
  height: 100vh;
  background: rgba(238, 236, 236, 0.486);
}

.icon-container {
  display: inline-block;
}

.icon-container i {
  font-size: 80px;
  padding: 20px;
  background: -webkit-linear-gradient( #f1d337, #273166);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Projects */

.projects {
  height: 100vh;
}

.snip1527 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  float: left;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  max-width: 310px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  border-radius: 10px;
}

.snip1527 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1527 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}

.snip1527 figcaption {
  padding: 15px 20px 15px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
}

.snip1527 figcaption:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #700877;
  content: '';
  background: -moz-linear-gradient(90deg, #2c128b 30%, #9c21c2 100%, #ff2759 100%);
  background: -webkit-linear-gradient(90deg, #2c128b 30%, #9c21c2 100%, #ff2759 100%);
  background: linear-gradient(90deg, #2c128b 30%, #9c21c2 100%, #c22192 100%);
  opacity: 0.6;
  z-index: -1;
}

.snip1527 h4,
.snip1527 p {
  margin: 0;
  padding: 0;
}

.snip1527 h4 {
  display: inline-block;
  letter-spacing: -0.4px;
  margin-bottom: 5px;
}

.snip1527 p {
  font-size: 0.8em;
  line-height: 1.6em;
  margin-bottom: 0px;
}

.snip1527:hover img,
.snip1527.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.snip1527 a {
  background-color: #7008776c;
  margin-top: 5px;
}

.snip1527 a:hover {
  background-color: #700877;
}

/* Contact footer */

footer {
  height: 100vh;
  width: 100%;
  background: black;
  color: white;
  padding-top: 2px;
}

@media (max-height: 768px) {

}